.audio-game,
.audio-game__level {
  margin: 0 auto;
  align-self: center;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.audio-game__level {
  width: 86%;
}

.audio-game__name,
.audio-game__description,
.audio-game__choice,
.audio-game__start,
.audio-game__level-name,
.audio-game__answer-image-name {
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 0 0 rgba(95, 85, 85, 1), -2px 0 0 rgba(95, 85, 85, 1),
    0 2px 0 rgba(95, 85, 85, 1), 0 -2px 0 rgba(95, 85, 85, 1),
    1px 1px rgba(95, 85, 85, 1), -1px -1px 0 rgba(95, 85, 85, 1),
    1px -1px 0 rgba(95, 85, 85, 1), -1px 1px 0 rgba(95, 85, 85, 1);
}

.audio-game__name {
  font-size: 96px;
  text-align: center;
}

.audio-game__description {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  margin: 50px 0;
}

.audio-game__level-button {
  height: 65px;
  width: 65px;
  font-size: 24px;
  color: rgba(95, 85, 85, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  border: 2px solid #0274d9;
  text-align: center;
  padding-top: 14px;
}

.audio-game__choice {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
}

.audio-game__level-choice {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-top: 20px;
}

.audio-game__start {
  height: 60px;
  margin-top: 40px;
  width: 250px;
  border-radius: 10px;
  background-color: rgba(2, 116, 217, 0.7);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 24px;
}

.audio-game__level-name {
  font-size: 48px;
}

.audio-game__sound-button {
  height: 150px;
  width: 150px;
  border: 4px solid #5f5555;
  border-radius: 50%;
  margin: 157px 0 125px 0;
  padding: 25px;
}

.audio-game__sound-button:hover {
  box-shadow: 0px -1px 100px 0px rgba(2, 116, 217, 1),
    0px 1px 100px 0px rgba(2, 116, 217, 1),
    -1px 0px 100px 0px rgba(2, 116, 217, 1),
    1px 0px 100px 0px rgba(2, 116, 217, 1);
}

.audio-game__level-button:hover {
  box-shadow: 0px -4px 40px 0px rgba(2, 116, 217, 1),
    0px 4px 40px 0px rgba(2, 116, 217, 1),
    -4px 0px 10px 0px rgba(2, 116, 217, 1),
    4px 0px 10px 0px rgba(2, 116, 217, 1);
}

.audio-game__sound-button__icon {
  width: 100px;
  height: 100px;
  display: block;
  background-image: url(../RS-Lang-assets/svg-icon/audio-call/volume-big.svg);
}

.audio-game__level-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.level-option {
  color: rgba(2, 116, 217, 1);
  font-size: 32px;
}

.level-option:hover,
.audio-game__button:hover {
  background-color: rgba(2, 116, 217, 0.7);
  color: rgba(255, 255, 255, 1);
}

.level-option,
.audio-game__button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid #5f5555;
  border-radius: 35px;
  padding: 13px 40px;
}

.audio-game__button {
  text-transform: uppercase;
  color: rgba(95, 85, 85, 1);
  font-size: 24px;
  margin-top: 104px;
}

.audio-game__answer-image {
  display: flex;
  margin: 30px 0;
  width: 390px;
  height: 260px;
}

.audio-game__answer-image-name {
  color: rgba(255, 255, 255, 1);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}

.audio-game__answer-image-name::before {
  content: url(../RS-Lang-assets/svg-icon/audio-call/volume-big.svg);
}

.audio-game__results-name {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(95, 85, 85, 1);
}

.audio-game__results-container {
  height: 900px;
  overflow: scroll;
  margin-top: 40px;
}

.result-word {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
  color: rgba(95, 85, 85, 1);
}

.result-word::before {
  content: url(../RS-Lang-assets/svg-icon/audio-call/volume-big.svg);
  width: 31px;
  height: 31px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.audio-game__results__correct-name,
.audio-game__results__wrong-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  margin: 30px 0 20px 0;
  color: rgba(95, 85, 85, 1);
}

.result-word__english {
  color: #000000;
}

.correct-answer {
  background-color: rgba(14, 183, 14, 0.7);
  color: rgba(255, 255, 255, 1);
}

.wrong-answer {
  background-color: rgba(255, 0, 0, 0.7);
  color: rgba(255, 255, 255, 1);
}
