.layout {
  display: none;
}

.layout__visible {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 1100px;
  background-color: rgba(0, 0, 0, 0.2);
}

.personalization-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 570px;
  height: 522px;
  margin: 0 auto;
  margin-top: 240px;
  border-radius: 50px;
  background-image: url(../RS-Lang-assets/bg/bg-autorization.webp);
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
}

.personalization__logo {
  display: block;
  margin-top: 15px;
  width: 110px;
  height: 60px;
  background-image: url(../RS-Lang-assets/svg-icon/header/logo-app.svg);
  background-repeat: no-repeat;
}

.personalization__exit {
  cursor: pointer;
  position: absolute;
  background-image: url(../RS-Lang-assets/svg-icon/menu/exit.svg);
  display: inline-block;
  width: 30px;
  height: 30px;
  opacity: 70%;
  top: 30px;
  right: 50px;
}

.navigation {
  display: flex;
  margin-top: 20px;
}

.autorisation-button,
.registration-button {
  cursor: pointer;
  font-size: 25px;
  text-transform: uppercase;
  color: rgba(2, 116, 217, 1);
  padding: 0 15px;
}

.autorisation-form,
.registration-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.registration-form {
  display: none;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}

#autorisation-form__name,
#autorisation-form__mail,
#registration-form__name,
#registration-form__mail,
#registration-form__password {
  font-size: 25px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 0px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  height: 54px;
  background-color: rgba(230, 230, 244, 1);
}

.registration-button {
  border-bottom: 4px solid rgba(2, 116, 217, 0.3);
}

.autorisation-button {
  border-bottom: 4px solid rgba(2, 116, 217, 1);
}

.autorisation-form__submit,
.registration-form__submit {
  background-color: #0274d9;
  width: 400px;
  margin: 0 auto;
  height: 53px;
  border-radius: 100px;
  border: 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 5px;
  margin-top: 30px;
}
