.definition {
  display: flex;
}

.definition-text {
  font-size: 20px;
  width: 1100px;
  margin-left: 20px;
}

.pros-cons {
  display: flex !important;
  justify-content: space-around;
}

.generation {
  display: flex !important;
  justify-content: space-around;
}

.second-image {
  width: 500px;
}

#short-description {
  position: absolute;
  top: 50px;
}

.history__ada {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.history {
  display: flex;
}

.plank {
  width: 50%;
}

h5 {
  color: cornflowerblue !important;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 30px;
}

.history-image {
  width: 500px;
  margin-left: 20px;
}

li {
    font-size: 28px;
}

.pros,
.cons {
  width: 40%;
}
